<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">CRUD Personas</h1>
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="newPersona()"><i class="fa fa-user-plus"></i></button></td>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtopcion" [dtTrigger]="dtTrigger" class="table table-bordered"
                    id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Primer apellido</th>
                            <th>Segundo apellido</th>
                            <th>Telefono</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listPersona">
                            <td>{{item.id}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.primer_apellido}}</td>
                            <td>{{item.segundo_apellido}}</td>
                            <td>{{item.telefono}}</td>
                            <td style="text-align: center;"><button type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#seleccionadoModal"
                                    (click)="selectItem(item)"><i class="fa fa-eye"></i></button></td>
                            <td style="text-align: center;"><button type="button" class="btn btn-warning"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectItem(item)"><i
                                        class="fa fa-edit"></i></button></td>
                            <td style="text-align: center;"><button type="button" class="btn btn-danger"
                                    (click)="delete(item.id)"><i class="fa fa-user-times"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal Agregar-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 *ngIf="!isUpdate" class="modal-title" id="exampleModalLabel">Agregar persona</h5>
                    <h5 *ngIf="isUpdate" class="modal-title" id="exampleModalLabel">Actualizar persona</h5>
                    <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"
                        (click)="newPersona()"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formPersona">
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Nombre</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="nombre">
                                <div class="alert alert-danger"
                                    *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">
                                    <div class="container-error-message" *ngIf="nombre?.errors">
                                        Nombre es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Primer apellido</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="primer_apellido">
                                <div class="alert alert-danger"
                                    *ngIf="primer_apellido?.invalid && (primer_apellido?.dirty || primer_apellido?.touched)">
                                    <div class="container-error-message" *ngIf="primer_apellido?.errors">
                                        Primer apellido es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Segundo apellido</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="segundo_apellido">
                                <div class="alert alert-danger"
                                    *ngIf="segundo_apellido?.invalid && (segundo_apellido?.dirty || segundo_apellido?.touched)">
                                    <div class="container-error-message" *ngIf="segundo_apellido?.errors">
                                        Segundo apellido es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Telefono</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="telefono">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button *ngIf="!isUpdate" type="submit" class="btn btn-success" (click)="save()">Agregar</button>
                    <button *ngIf="isUpdate" type="submit" class="btn btn-warning"
                        (click)="update()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal ver datos-->
    <div class="modal fade" id="seleccionadoModal" tabindex="-1" aria-labelledby="seleccionadoModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="seleccionadoModal">Datos de persona</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formPersona">
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="id">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Nombre</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="nombre">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Primer apellido</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="primer_apellido">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Segundo apellido</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="segundo_apellido">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Telefono</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="telefono">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Estatus</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="estatus">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Fecha inscripcion</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="fecha_ins">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Fecha actuaizacion</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="fecha_upd">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Marco Kenneth Rodriguez Alcantar 2023</span>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</div>